npm run doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= error.title
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="QAS Ticket Dashboard ")
    meta(name="author", content="QASymphony")
    link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
    style(type="text/css").
      * {
        line-height: 1.2;
        margin: 0;
      }
      html {
        color: #888;
        display: table;
        font-family: sans-serif;
        height: 100%;
        text-align: center;
        width: 100%;
      }
      body {
        display: table-cell;
        vertical-align: middle;
        margin: 2em auto;
      }
      h1 {
        color: #555;
        font-size: 2em;
        font-weight: 400;
      }
      p {
        margin: 0 auto;
        width: 280px;
      }
      @media only screen and (max-width: 280px) {
        body, p {
          width: 95%;
        }
        h1 {
          font-size: 1.5em;
          margin: 0 0 0.3em;
        }
      }
  body
    h1= error.title
    p= error.message
